//
//  Config.xcconfig
//  OnionBrowser
//
//  Created by Benjamin Erhart on 21.01.19.
//  Copyright © 2012 - 2023, Tigas Ventures, LLC (Mike Tigas)
//

// Avoid accidental checkins:
// git update-index --skip-worktree Config.xcconfig
// git update-index --no-skip-worktree Config.xcconfig


PRODUCT_BUNDLE_IDENTIFIER[config=Debug] = org.equalitie.PeeledOnionBrowser
DEVELOPMENT_TEAM[config=Debug] = 5SR9R72Z83
PROVISIONING_PROFILE_SPECIFIER[config=Debug] = iOS Team Provisioning Profile

PRODUCT_BUNDLE_IDENTIFIER[config=Release] = org.equalitie.PeeledOnionBrowser
DEVELOPMENT_TEAM[config=Release] = 5SR9R72Z83
PROVISIONING_PROFILE_SPECIFIER[config=Release] = iOS Team Provisioning Profile
